body{
    background-color: #f3f3f3;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.list-group-item{
  cursor: pointer;
  margin:2px 0;
}

.list-group-item:hover{
  background-color: #f6f6f6;
}

.search-bar{
    margin: 0 0 20px 0;
    border: none;
    border-bottom: 1px solid lightgray;
    outline: none;
    height:30px;
}

.glyphicon-search{
    color: lightgray;
    font-size: 20px;
    padding: 4px 6px;
}

.search-bar:focus { border-bottom: 1px solid black; }
.search-bar:focus + .glyphicon-search{  color: black;  }


.add-form{
    border-bottom: 1px solid lightgray;
    margin: 10px 0 10px 0;
    padding: 20px;
}
.add-form label{
    font-weight: 100;
}
.add-form input{
    margin: 0 0 20px 0;
    border: none;
    border-bottom: 1px solid lightgray;
    outline: none;
    height:30px;
}
.add-form button{
    border: 1px solid lightslategray;
    background-color: white;
    outline: none;
    color: lightslategray;
}
